<?xml version="1.0" encoding="UTF-8"?>
<!-- Styr om alla anrop till index.php. Skapa en "application" i IIS och peka på "public" i inställningar-->
<!-- Exempelvis Virtual path(webpath/alias): "/webservices/mrbs"  => Physical path: "F:\Develop\webservices\mrbs\public" -->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="MRBS  1" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>